@font-face {
  font-family: aviny;
  src: url(/font/aviny.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

}

body {
  background: #0e0e14;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#particles {
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  background-color: #000010;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}
h2 {

  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
}
h1::after {
  content: "";
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}


@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 4px;
  }
}

.AmirCreepyIcon {
  border-radius: 100%;
  height: 250px;
  width: 250px;
}

.AmirCreepy {
  text-transform: uppercase;
  font-size: 50px !important;
  font-family: "aviny";
  font-weight: 10;
  letter-spacing: 10px;
}


.bannercoffe {
  width: 160px;
}

.MIDDLE{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  content: none;
  overflow: hidden;
}
.arrowicon {
  scroll-behavior: smooth;
  text-align: center;
  align-self: center;
  align-content: center;
  margin-top: 25px;
  font-weight: 900;
  color: rgb(246, 132, 1);
}

#introo {
  font-family: 'Fira Code', monospace;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  left: 0;
  padding: 0 10px;
  width: 100%;
  content: "";
  content: none;
  overflow: hidden;
  text-align: start !important;
}
